/* Reset des styles de base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles pour le corps de la page */
body {
    background: #f8f8f8; /* Fond blanc */
    color: #333; /* Couleur de texte principale */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pleine hauteur de la fenêtre */
}

/* Styles pour la boîte centrale */
.error-msg-container {
    background-color: white;
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Ombre légère */
    max-width: 800px;
    width: 80%;
    padding: 30px;
    text-align: center;
}

/* Style pour les liens */
a {
    color: #2255b5; /* Couleur du lien */
    text-decoration: none; /* Pas de soulignement par défaut */
}


/* Style pour les paragraphes */
p {
    margin-bottom: 1rem; /* Marge en bas */
}

h1 {
    font-size: 3rem;
}
